@import "./theme/variables.scss";

@mixin tablet-res {
	@media screen and (min-width: 700px) {
		@content;
	}
}

@mixin desktop-res {
	@media screen and (min-width: 1200px) {
		@content;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100vw;
	height: 100%;
}

body {
	max-width: 100vw;
	font-family: opensans, sans-serif;
	font-weight: 400;
	font-size: 18px;
	overflow-x: hidden;
}

header {
	padding-left: 26px;
	padding-right: 26px;
	width: 100%;
	height: $header-height-mobile;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
	align-items: center;

	&.blurred {
		filter: blur(5px);
	}

	@include desktop-res {
		height: $header-height-desktop;
	}
}

main {
	&.blurred {
		filter: blur(5px);
	}
}

h1 {
	font-size: 25px;
	font-family: ubuntu-medium;
	font-weight: 500;
	line-height: 35.58px;
	@include desktop-res {
		font-size: 40px;
		line-height: 56.93px;
	}
}

h2 {
	font-size: 20px;
	font-family: ubuntu;
	font-weight: 400;
	line-height: 28.46px;
	@include desktop-res {
		font-size: 30px;
		line-height: 42.7px;
	}
}

p {
	@include desktop-res {
		font-size: 18px;
		line-height: 25.62px;
	}
}

.logo-link {
	height: 39px;

	@include desktop-res {
		height: 53.2px;
	}
}

.link {
	&--search-button,
	&--like-button {
		height: 31px;
	}
}

.section {
	padding: 26px;

	&--dark {
		background-color: #d9d9d9;

		@include desktop-res {
			display: flex;
			flex-direction: row;
			gap: 26px;
			justify-content: center;

			&--dark {
				background-color: $color-secondary;
			}
		}
	}
}

.section__content-wrapper {
	@include desktop-res {
		display: flex;
		flex-direction: row;
		gap: 26px;
		justify-content: center;
		margin: 0 auto;
		max-width: 1600px;

		.section--dark & {
			gap: 50px;
		}
	}
}

.header-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 26px;
	align-items: center;
}

.logo {
	width: 39.58px;
	height: 39px;
	@include desktop-res {
		width: 54px;
		height: 53.21px;
	}
}

.CTA {
	width: 262px;
	height: 40px;
	border: 2px solid $color-primary;
	border-radius: 100px;
	background-color: #ffffff;
	font-size: 14px;
	margin: 0 auto;
	font-family: ubuntu;

	&:focus {
		outline: 2px solid $color-primary;
	}

	@include desktop-res {
		margin: 0;
	}

	&--narrow {
		width: 166px;
	}

	&:hover {
		background-color: $color-primary;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
		cursor: pointer;
	}
}

.menu {
	.nav__links-container {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 31px;
		margin-top: 45px;
		align-items: center;

		a {
			text-decoration: none;
			color: #ffffff;
			font-family: opensans;
			font-size: 20px;
			line-height: 44.16px;
			font-weight: 600;
		}
	}

	&__nav {
		&--mobile {
			transition: transform 0.5s;
			position: absolute;
			left: 0;
			top: $header-height-mobile;
			z-index: 1;
			background-color: $color-primary;
			width: 100vw;
			height: calc(100vh - $header-height-mobile);
			z-index: 5;
			overflow: hidden;
			transform-origin: right;
			transform: scaleX(0);

			&.active {
				transform: scaleX(1);
				transform-origin: right;
			}
		}

		&--desktop {
			display: none;

			@include desktop-res {
				display: block;
			}

			.nav__links-container {
				display: flex;
				flex-direction: row;
				align-items: center;
				list-style: none;
				gap: 26px;

				a {
					text-decoration: none;
					color: #000000;
					font-family: opensans;
					font-size: 16px;
					font-weight: 600;
				}
			}
		}
	}

	&--mobile {
		height: 26px;

		@include desktop-res {
			display: none;
		}

		.menu__trigger {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 26px;
			cursor: pointer;

			.trigger {
				background-color: #000000;
				width: 41px;
				height: 5px;
				border-radius: 5px;
				&--upper {
					transition: all 0.2s;
				}
				&--lower {
					transition: all 0.2s;
				}
			}

			&.active {
				.trigger {
					&--upper {
						transform: rotate(45deg);
						translate: 0px 10.5px;
						transition: all 0.2s;
					}
					&--middle {
						display: none;
					}
					&--lower {
						transform: rotate(-45deg);
						translate: 0px -10.5px;
						transition: all 0.2s;
					}
				}
			}
		}
	}
}

.trigger {
	background-color: #000000;
	width: 41px;
	height: 5px;
	border-radius: 5px;
}

.image-container {
	&--with-backdrop {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 26px;
		@include tablet-res {
			display: block;
			height: fit-content;
			width: fit-content;
			margin: 50px auto;
		}
		@include desktop-res {
			margin-left: 100px; //
			width: 700px;
		}
		&__main-image {
			z-index: 3;
			max-width: 213px;
			height: auto;
			position: absolute;
			top: 10px;
			box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.15);
			@include tablet-res {
				translate: 15% 15%;
				max-width: 380px;
			}
			@include desktop-res {
				translate: 25% 15%;
			}
		}
		&__secondary-image {
			display: none;
			z-index: 2;
			max-width: 213px;
			height: auto;
			position: absolute;
			top: 10px;
			transform: scaleX(-1);
			@include tablet-res {
				display: block;
				max-width: 380px;
				translate: -25% -15%;
			}
		}
		&__backdrop {
			width: 268px;
			height: 182px;
			background-color: $color-primary;
			z-index: 1;
			@include tablet-res {
				width: 330px;
				height: 330px;
			}
		}
	}

	&--grid {
		padding-top: 26px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		width: 100%;
		gap: 15px;
		margin: 0 auto;

		@include tablet-res {
			max-width: 700px;
		}

		@include desktop-res {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			max-width: 700px;
		}
	}
}

.grid-image {
	max-width: 100%;
	height: auto;
	&--left {
		display: none;

		@include desktop-res {
			display: block;
			grid-row-start: 1;
			grid-row-end: 3;
			grid-column-start: 1;
			grid-column-end: 2;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&--center--upper {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 2;
		@include desktop-res {
			grid-column-start: 2;
			grid-column-end: 3;
		}
	}
	&--center--lower {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;
		@include desktop-res {
			grid-column-start: 2;
			grid-column-end: 3;
		}
	}
	&--right {
		grid-row-start: 1;
		grid-row-end: 3;
		grid-column-start: 2;
		grid-column-end: 3;
		object-fit: cover;
		width: 100%;
		height: 100%;
		@include desktop-res {
			grid-column-start: 3;
			grid-column-end: 4;
		}
	}
}

.content-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 26px;
	@include desktop-res {
		justify-content: center;
		text-align: left;
	}
}

.modal-blur {
	display: none;
	position: fixed;

	&.modal-active {
		display: block;

		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 6;
	}

	.modal {
		position: relative;
		width: 100vw;
		height: $modal-height-desktop;
		background-color: $color-primary;
		left: 0%;
		top: 25%;
		border: none;
		margin: 0 auto;

		&__content {
			display: flex;
			flex-direction: column;
			margin: 50px;
			font-family: ubuntu-medium;
			font-weight: 500;

			color: #ffffff;
		}

		.modal-content {
			&__header {
				font-size: 30px;
				margin-bottom: 30px;
				word-wrap: break-word;
			}
			&__name-input {
				max-width: 521px;
				height: 58px;
				border: none;
				border-radius: 29px;
				padding: 0 25px;
				font-size: 30px;
				font-family: ubuntu-medium;

				&-label {
					margin: 0 0 3px 25px;
				}
			}
		}

		@include desktop-res {
			width: $modal-width-dekstop;
			height: $modal-height-desktop;
			left: calc(50% - $modal-width-dekstop/2);
			top: 25%;
			margin: 0;
		}
	}

	.close-modal {
		display: block;
		position: relative;
		top: calc(0% + 15px);
		left: 80%;
		width: 25px;
		height: 25px;
		color: #ffffff;
		border: none;
		z-index: 10;
		background-color: $color-primary;
		cursor: pointer;

		@include desktop-res {
			top: calc(0% + 15px);
			left: calc(100% - 40px);
		}

		img {
			width: 25px;
			height: 25px;
		}
	}
}
